server:
  port: 20002
  workId: 0
  datacenterId: 0 #雪花算法的数据中心id，在java 启动命令中定义，四台为0，1，2，3
spring:
  kafka:
    bootstrap-servers: 10.10.4.76:9092
    listener:
      # 在侦听器容器中运行的线程数。
      concurrency: 5
      #listner负责ack，每调用一次，就立即commit
#      ack-mode: manual_immediate
      missing-topics-fatal: false
    consumer:
      # 是否自动提交偏移量，默认值是true,为了避免出现重复数据和数据丢失，可以把它设置为false,然后手动提交偏移量
      enable-auto-commit: true
      # 自动提交的时间间隔 在spring boot 2.X 版本中这里采用的是值的类型为Duration 需要符合特定的格式，如1S,1M,2H,5D
      auto-commit-interval: 1S
      # 键的反序列化方式
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # 值的反序列化方式
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # 该属性指定了消费者在读取一个没有偏移量的分区或者偏移量无效的情况下该作何处理：
      # latest（默认值）在偏移量无效的情况下，消费者将从最新的记录开始读取数据（在消费者启动之后生成的记录）
      # earliest ：在偏移量无效的情况下，消费者将从起始位置读取分区的记录
      auto-offset-reset: earliest
    producer:
      # 发生错误后，消息重发的次数。
      retries: 0
      # 键的序列化方式
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      # 值的序列化方式
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      # acks=0 ： 生产者在成功写入消息之前不会等待任何来自服务器的响应。
      # acks=1 ： 只要集群的首领节点收到消息，生产者就会收到一个来自服务器成功响应。
      # acks=all ：只有当所有参与复制的节点全部收到消息时，生产者才会收到一个来自服务器的成功响应。
      acks: 1

  # ElasticSearch的连接地址
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: 10.10.4.75:9300
  elasticsearch:
    rest:
      uris:
        - 10.10.4.75:9200


logging:
  level:
    org:
      springframework:
        kafka: INFO # 日志太多了，所以我们限制只打印 ERROR 级别
      apache:
        kafka: INFO # 日志太多了，所以我们限制只打印 ERROR 级别